 <ion-header no-border>
  <ion-toolbar class="new-background-color" >
<div class="searchbar">
     <ion-searchbar  placeholder="Buscar" ></ion-searchbar>

     </div>
     <div class="iconFilter">
        <ion-icon name="funnel" class="iconColorFilter"></ion-icon>
     </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
   <ion-card-header>
          <ion-card-subtitle><div class="ajustTitle">Casa </div>   <div class="ajustTitle"> <img  src="../../assets/img/orange-circle-icon.svg"  class="imageCircle" /></div>
            <div class="ajustTitle">Alugua-se</div>
              <div class="rating">
             <ion-icon name="heart" class="iconRating"></ion-icon>
         </div>
</ion-card-subtitle>
          <!-- <ion-card-title>Madison, WI</ion-card-title> -->
        </ion-card-header>
      <div class="cardImage">
         <img  src="../../assets/img/garagem1.jpg" height="200px"/>
      </div>
      <div class="cardDescription">
         <div class="ajustDescription">
            <span class="titleValor">R$200,00</span>
            <span class="titleMonthSale">/mês</span>
        </div>
      </div>
    <div class="cardText">
        <div>  <ion-icon name="pin" size="small" class="iconCollation"></ion-icon> Abraao Miguel do Cargo, Vl. Monte Alegre - SP</div>
    </div>
</ion-card>


  <ion-card>
   <ion-card-header>
          <ion-card-subtitle><div class="ajustTitle">Apartamento </div>   <div class="ajustTitle"> <img  src="../../assets/img/orange-circle-icon.svg"  class="imageCircle" /></div>
            <div class="ajustTitle">Alugua-se</div>
            <div class="ajustTitle"> <img  src="../../assets/img/orange-circle-icon.svg"  class="imageCircle" /></div>
             <div class="ajustTitle">Vende-se</div>
              <div class="rating">
             <ion-icon name="heart" class="iconRating"></ion-icon>
         </div>
</ion-card-subtitle>
          <!-- <ion-card-title>Madison, WI</ion-card-title> -->
        </ion-card-header>
      <div class="cardImage">
         <img  src="../../assets/img/garagemAP.jpeg" height="200px"/>
      </div>
      <div class="cardDescription">
         <div class="ajustDescription">
            <span class="titleValor">R$200,00</span>
            <span class="titleMonthSale">/mês</span>
        </div>
         <div class="ajustDescriptionSale">
            <span class="titleValor">R$15.000,00</span>
            <span class="titleMonthSale">/vende-se</span>
        </div>
      </div>
    <div class="cardText">
        <div>  <ion-icon name="pin" size="small" class="iconCollation"></ion-icon> Abraao Miguel do Cargo, Vl. Monte Alegre - SP</div>
    </div>
</ion-card>

</ion-content>
