.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-card{
    margin-top: 20px
}
.cardImage{
    width: 100%;
    float: left;
    min-height: 130px;
}

.cardText{
    width: 100%;
    float: left;
    border-top:1px solid rgb(221, 220, 220);
    height: 33px;
    margin-top:5px
}

.cardDescription{
    width: 100%;
    float: left;
    min-height: 20px;
    margin-top:5px
}

.iconCollation{
    color: rgb(238, 183, 65);
    margin-top: 5px;
    margin-left: 6px
}

.imageCircle{
    width: 13px;
    height: 10px;
    margin-top: 5px;
    margin-left: 8px;
    margin-right: 8px
}

.ajustTitle{
    float: left;
    height: 25px;
}

.ajustDescription{
    float:right;
    width: 45%;
    text-align: right;
    margin-right: 2px
}

.ajustDescriptionSale{
    float:left;
    width: 49%;
    text-align: left;
    margin-left: 2px
}

.titleValor{
    font:bold 14px Verdana, Arial;
    margin-top:5px
}

.titleMonthSale{
    font: 10px Verdana,Arial;
    margin-top:5px
}

.rating{
    float: right;
    margin-right: 2px;
    font-size: 20px;
}

.iconRating{
    color:rgb(248, 117, 117);
}